<title><%= trail.trailName %></title>

<div class="row trail-margin-top">
  <div class="col-lg-8">
    <ul>
        <li>
          <h2> <%= trail.trailName %> </h2>
          <p> <%= trail.trailLength %> </p>
        </li>
    </ul>
  </div>

  <div class="col-lg-4">
    <img src="<%= trail.trailMap %>">
  </div>
</div>


<h1> Add New Picture </h1>


<form action="/trails/<%= trail._id %>" method="post" enctype="multipart/form-data">

  <div>
    <label for="picture-input"> Picture </label>
    <input id="picture-input" type="file" name="picture">
  </div>
  <br>
  <button type="submit"> Add Picture </button>
</form>

<ul>
    <li>
      <img src="<%= trail.trailPhotos %>">
    </li>
</ul>
